---
layout: default
---

<article>
   <h2>{% unless page.tags == empty %}<span class="tags">{{ page.tags }}</span>{% endunless %}{{ page.title }}</h2>
   <div class="text">
    {{ content }}

    <div class="meta">
      <div class="share-button"></div>
    </div>
    
    <div class="comments">
       <div class="fb-comments" data-href="http://www.megathink.com{{ page.url }}" data-numposts="5" data-colorscheme="light"></div>
    </div>
   </div>
</article>

<footer>
   <div id="date" class="meta">
      {{ page.date | date_to_string }}
   </div>
   <div id="return">
      <a href="/">&laquo; Home</a>
   </div>
</footer>
